.csv-reader-proxy-container {
  position: relative;
}

.csv-reader-proxy-button {
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.csv-reader-proxy-input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
